@use "sass:math"
@use "../../math/unitless"
@use "../../checker/is-number"
@use "../../checker/is-unitless"
@use "../../checker/is-percentage"
@use "../../checker/is-string"
@use "../../exception/parameter"
@use "../../exception/parameter-type"
@use "color"


///
/// Validate Hue
///
/// @param {String} $context
/// @param {String} $name
/// @param {Number} $value
/// @return {Bool | String}
///
/// @access private
/// @require is-unitless.is-unitless
/// @require parameter-type.parameter-type
/// @require parameter.parameter
///
/// @since 2024.2.3
///
@function _validate-hue($context, $name, $value)
	@if not is-number.is-number($value)
		@return parameter-type.parameter-type($context, $name, $value, 'number')

	@if not is-unitless.is-unitless($value) and math.unit($value) != deg
		@return parameter.parameter('The hue unit should be `deg`', $context, $name)

	$value: unitless.unitless($value)

	@if $value > 360 or $value < 0
		@return parameter.parameter('Must be between 0 and 360 (inclusive).', $context, $name)

	@return true


///
/// Validate Percentage
///
/// @param {String} $context
/// @param {String} $name
/// @param {Number} $value
/// @return {Bool | String}
///
/// @access private
/// @require is-percentage.is-percentage
/// @require parameter-type.parameter-type
/// @require parameter.parameter
/// @require unitless.unitless
///
/// @since 2024.2.3
///
@function _validate-percentage($context, $name, $value)
	@if not is-percentage.is-percentage($value)
		@return parameter-type.parameter-type($context, $name, $value, 'percentage')

	$value: unitless.unitless($value)

	@if $value > 100 or $value < 0
		@return parameter.parameter('Must be between 0% and 100% (inclusive).', $context, $name)

	@return true


///
/// Convert Hue Saturation Lightness (HSL) to hexadecimal (HEX)
///
/// @param {Number} $hue - Hue value.
/// @param {Number} $saturation - Saturation value.
/// @param {Number} $lightness - Lightness value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hex
///
/// @since 2024.2.3
///
@function hsl2hex($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2hex', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2hex', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2hex', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2hex($hsl, $format)


///
/// Convert RGB to hexadecimal alpha (HEXA)
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hexa
///
/// @since 2024.2.3
///
@function hsl2hexa($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2hexa', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2hexa', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2hexa', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2hexa($hsl, $format)


///
/// Convert RGB to RGBA
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2rgba
///
/// @since 2024.2.3
///
@function hsl2rgb($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2rgb', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2rgb', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2rgb', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2rgb($hsl, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsl
///
/// @since 2024.2.3
///
@function hsl2rgba($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2rgba', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2rgba', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2rgba', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2rgba($hsl, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsla
///
/// @since 2024.2.3
///
@function hsl2hsla($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2hsla', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2hsla', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2hsla', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2hsla($hsl, $format)


///
/// Convert RGB to HWB
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hwb
///
/// @since 2024.2.3
///
@function hsl2hwb($hue, $saturation, $lightness, $format: true)
	$validate-hue: _validate-hue('hsl2hwb', 'hue', $hue)
	$validate-saturation: _validate-percentage('hsl2hwb', 'saturation', $saturation)
	$validate-lightness: _validate-percentage('hsl2hwb', 'lightness', $lightness)

	@if is-string.is-string($validate-hue)
		@error $validate-hue

	@if is-string.is-string($validate-saturation)
		@error $validate-saturation

	@if is-string.is-string($validate-lightness)
		@error $validate-lightness

	$hsl: hsl($hue, $saturation, $lightness)

	@return color.color2hwb($hsl, $format)
