@use "../../checker/is-unitless"
@use "../../exception/parameter"
@use "../../exception/parameter-type"
@use "color"


///
/// Validate RGB
///
/// @param {String} $context
/// @param {String} $name
/// @param {Number} $value
/// @return {Bool | String}
///
/// @access private
/// @require is-unitless.is-unitless
/// @require parameter-type.parameter-type
/// @require parameter.parameter
///
/// @since 2024.2.3
///
@function _validate-rgb($context, $name, $value)
	@if not is-unitless.is-unitless($value)
		@return parameter-type.parameter-type($context, $name, $value, 'unitless')

	@if $value > 255 or $value < 0
		@return parameter.parameter('Must be between 0 and 255 (inclusive).', $context, $name)

	@return true


///
/// Validate alpha
///
/// @param {String} $context
/// @param {String} $name
/// @param {Number} $value
/// @return {Bool | String}
///
/// @access private
/// @require is-unitless.is-unitless
/// @require parameter-type.parameter-type
/// @require parameter.parameter
///
/// @since 2024.2.3
///
@function _validate-alpha($context, $name, $value)
	@if not is-unitless.is-unitless($value)
		@return parameter-type.parameter-type($context, $name, $value, 'unitless')

	@if $value > 1 or $value < 0
		@return parameter.parameter('Must be between 0 and 1 (inclusive).', $context, $name)

	@return true


///
/// Convert RGB to hexadecimal (HEX)
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hex
///
/// @since 2024.2.3
///
@function rgba2hex($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2hex', 'red', $red)
	$validate-green: _validate-rgb('rgba2hex', 'green', $green)
	$validate-blue: _validate-rgb('rgba2hex', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2hex', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2hex($rgba, $format)


///
/// Convert RGB to hexadecimal alpha (HEXA)
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hexa
///
/// @since 2024.2.3
///
@function rgba2hexa($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2hexa', 'red', $red)
	$validate-green: _validate-rgb('rgba2hexa', 'green', $green)
	$validate-blue: _validate-rgb('rgba2hexa', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2hexa', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2hexa($rgba, $format)


///
/// Convert RGB to RGBA
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2rgba
///
/// @since 2024.2.3
///
@function rgba2rgb($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2rgb', 'red', $red)
	$validate-green: _validate-rgb('rgba2rgb', 'green', $green)
	$validate-blue: _validate-rgb('rgba2rgb', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2rgb', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2rgb($rgba, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsl
///
/// @since 2024.2.3
///
@function rgba2hsl($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2hsl', 'red', $red)
	$validate-green: _validate-rgb('rgba2hsl', 'green', $green)
	$validate-blue: _validate-rgb('rgba2hsl', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2hsl', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2hsl($rgba, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsla
///
/// @since 2024.2.3
///
@function rgba2hsla($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2hsla', 'red', $red)
	$validate-green: _validate-rgb('rgba2hsla', 'green', $green)
	$validate-blue: _validate-rgb('rgba2hsla', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2hsla', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2hsla($rgba, $format)


///
/// Convert RGB to HWB
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hwb
///
/// @since 2024.2.3
///
@function rgba2hwb($red, $green, $blue, $alpha, $format: true)
	$validate-red: _validate-rgb('rgba2hwb', 'red', $red)
	$validate-green: _validate-rgb('rgba2hwb', 'green', $green)
	$validate-blue: _validate-rgb('rgba2hwb', 'blue', $blue)
	$validate-alpha: _validate-alpha('rgba2hwb', 'alpha', $alpha)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	@if is-string.is-string($validate-alpha)
		@error $validate-alpha

	$rgba: rgba($red, $green, $blue, $alpha)

	@return color.color2hwb($rgba, $format)
