@use "../../checker/is-unitless"
@use "../../exception/parameter"
@use "../../exception/parameter-type"
@use "color"


///
/// Validate RGB
///
/// @param {String} $context
/// @param {String} $name
/// @param {Number} $value
/// @return {Bool | String}
///
/// @access private
/// @require is-unitless.is-unitless
/// @require parameter-type.parameter-type
/// @require parameter.parameter
///
/// @since 2024.2.3
///
@function _validate-rgb($context, $name, $value)
	@if not is-unitless.is-unitless($value)
		@return parameter-type.parameter-type($context, $name, $value, 'unitless')

	@if $value > 255 or $value < 0
		@return parameter.parameter('Must be between 0 and 255 (inclusive).', $context, $name)

	@return true


///
/// Convert RGB to hexadecimal (HEX)
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hex
///
/// @since 2024.2.3
///
@function rgb2hex($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2hex', 'red', $red)
	$validate-green: _validate-rgb('rgb2hex', 'green', $green)
	$validate-blue: _validate-rgb('rgb2hex', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2hex($rgb, $format)


///
/// Convert RGB to hexadecimal alpha (HEXA)
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hexa
///
/// @since 2024.2.3
///
@function rgb2hexa($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2hexa', 'red', $red)
	$validate-green: _validate-rgb('rgb2hexa', 'green', $green)
	$validate-blue: _validate-rgb('rgb2hexa', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2hexa($rgb, $format)


///
/// Convert RGB to RGBA
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2rgba
///
/// @since 2024.2.3
///
@function rgb2rgba($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2rgba', 'red', $red)
	$validate-green: _validate-rgb('rgb2rgba', 'green', $green)
	$validate-blue: _validate-rgb('rgb2rgba', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2rgba($rgb, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsl
///
/// @since 2024.2.3
///
@function rgb2hsl($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2hsl', 'red', $red)
	$validate-green: _validate-rgb('rgb2hsl', 'green', $green)
	$validate-blue: _validate-rgb('rgb2hsl', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2hsl($rgb, $format)


///
/// Convert RGB to HSL
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hsla
///
/// @since 2024.2.3
///
@function rgb2hsla($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2hsla', 'red', $red)
	$validate-green: _validate-rgb('rgb2hsla', 'green', $green)
	$validate-blue: _validate-rgb('rgb2hsla', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2hsla($rgb, $format)


///
/// Convert RGB to HWB
///
/// @param {Number} $red - Red value.
/// @param {Number} $green - Green value.
/// @param {Number} $blue - Blue value.
/// @param {Bool} $format - Formatting conversion results.
/// @return {Color | String}
///
/// @access public
/// @require _validate-rgb
/// @require is-string.is-string
/// @require color.color2hwb
///
/// @since 2024.2.3
///
@function rgb2hwb($red, $green, $blue, $format: true)
	$validate-red: _validate-rgb('rgb2hwb', 'red', $red)
	$validate-green: _validate-rgb('rgb2hwb', 'green', $green)
	$validate-blue: _validate-rgb('rgb2hwb', 'blue', $blue)

	@if is-string.is-string($validate-red)
		@error $validate-red

	@if is-string.is-string($validate-green)
		@error $validate-green

	@if is-string.is-string($validate-blue)
		@error $validate-blue

	$rgb: rgb($red, $green, $blue)

	@return color.color2hwb($rgb, $format)
